.page-products .columns {
    padding-top: 0;
    z-index: auto;
}
@media (min-width: 640px)
{
    .page-products .columns {
        position: relative;
        
    }
}


@media (min-width: 992px), print
{
    .columns {
        display: block;
    }
    
}
.columns {
box-sizing: border-box;
}

.catalog-category-view .columns .column.main {
    padding-bottom: 0;
}
media="screen and (min-width: 768px)"
@media (min-width: 992px), print
{
    .page-layout-2columns-left .column.main {
        width: 75%;
        float: right;
        order: 2;
    }
}

.columns .column.main {
    max-width: 100%;
    box-sizing: border-box;
}
@media (min-width: 768px)
{
    .column.main {
        transition: all .5s;
    }
}

@media (min-width: 992px), print
{
    .column.main {
        min-height: 300px;
    }
    
}
