<div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5"
    data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true"
    data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="CGC1NTS">
    <div data-content-type="divider" data-appearance="default" data-element="main">
        <hr data-element="line" data-pb-style="BOSUBAL">
    </div>
    <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
            href="https://dream2000.com/laptop-notebook/laptop.html"><img
                src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/2048x220-laptop.jpg" alt=""></a></div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12"
        data-element="main">
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="PW1Y1Y7">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/laptop-notebook/storage.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/storage.jpg" loading="lazy" alt="" style="
    width: 500px;
"></a></div>
        </div>
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="NY390J4">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/laptop-notebook/printer.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/Printer-ar.jpg" loading="lazy" alt=""></a>
            </div>
        </div>
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="JFB0HIH">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/laptop-notebook/laptop.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/bags.jpg" loading="lazy" alt="" style="
    width: 500px;
"></a></div>
        </div>
    </div>
    <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="16"
        data-element="main">
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="K9HH8XS">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/corporate/network.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/Ar-Network.jpg" loading="lazy" alt=""></a>
            </div>
        </div>
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="DND5BT9">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/laptop-notebook/computer-accessories.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/350x240-computer-acc.jpg" loading="lazy"
                        alt="" style="
    width: 461px;
"></a></div>
        </div>
        <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
            data-background-images="{}" data-element="main" data-pb-style="T67YDGO">
            <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                    href="https://dream2000.com/corporate/monitors.html"><img
                        src="https://r2media.horizondm.com/Backend-developer/Monitor-ar.jpg" loading="lazy" alt=""></a>
            </div>
        </div>
    </div>
    <div data-content-type="divider" data-appearance="default" data-element="main">
        <hr data-element="line" data-pb-style="D7AV43H">
    </div>
</div>