
    <p-card header="Dell Laptop" class="custom-border" subheader="Dell G15" [style]="{ width: '300px'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="../../../assets/dell-laptop.jpg" />
        </ng-template>
        <p>
            Dell G15 5511 Intel Core i5-11260H, 8GB Ram, 512GB SSD, NVIDIA GeForce RTX 3050, 15..
        </p>
        <del>56800.00  EGP</del>
        <h3>49799.00 EGP</h3>
        <a href="#"  class="btn btn-light px-5 rounded-pill"><i class="fa fa-shopping-cart"></i>   Add to Cart</a>
        <ng-template pTemplate="footer">
            <a href="#" class="justify-content-end" title="Add to Compare" aria-label="Add to Compare">
                <i class="fa fa-signal"></i>
            </a>
            <a href="#" class="toWishlist" title="Add to Wish list" aria-label="Add to Wish list">
                <i class="fa fa-heart-o"></i>
            </a>
        </ng-template>
    </p-card>


