<div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true">
    <table width="100%" align="center">
        <tbody>
            <tr>
                <td align="center" valign="middle"><a href="https://dream2000.com/installment-dream2000/"><img
                            class="imgclass" src="https://r2media.horizondm.com/wysiwyg/web-test/Installment.gif"
                            loading="lazy" width="32%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>اشترى
                                    دلوقتى و ادفع بعدين</strong></span><br>
                            <span style="font-size:14px">قسط حتى 36 شهر</span></span></p>
                </td>
                <td align="center" valign="middle"><a href="https://dream2000.com/delivery-shipment-policy"><img
                            class="imgclass" src="https://r2media.horizondm.com/wysiwyg/web-test/Cash_on_Delivery.gif"
                            loading="lazy" width="30%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>دفع
                                    عند الاستلام</strong></span><br>
                            <span style="font-size:14px">شحن سريع لجميع أنحاء الجمهورية</span></span></p>
                </td>
                <td align="center" valign="middle"><a href="https://dream2000.com/delivery-shipment-policy"><img
                            class="imgclass" src="https://r2media.horizondm.com/wysiwyg/web-test/Free_Shipping.gif"
                            loading="lazy" width="30%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>شحن
                                    مجاني</strong></span><br>
                            <span style="font-size:14px">لجميع المحافظات</span></span></p>
                </td>
                <td align="center" valign="middle"><a href="https://dream2000.com/delivery-shipment-policy"><img
                            class="imgclass" src="https://r2media.horizondm.com/wysiwyg/web-test/Recovery.gif"
                            loading="lazy" width="30%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span
                                style="font-size:16px"><strong>استرجاع مجانى</strong></span><br>
                            <span style="font-size:14px">استرجع جميع المنتجات بدون مصاريف</span></span></p>
                </td>
                <td align="center" valign="middle"><a href="https://dream2000.com/corporate-solutions"><img
                            class="imgclass" src="https://r2media.horizondm.com/wysiwyg/web-test/Comp.gif"
                            loading="lazy" width="30%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>حلول
                                    الشركات</strong></span><br>
                            <span style="font-size:14px">كل ما تحتاجة لادارة أعمالك بسهولة</span></span></p>
                </td>
                <td align="center" valign="middle"><a href="https://dream2000.com/50discount"><img class="imgclass"
                            src="https://r2media.horizondm.com/wysiwyg/web-test/50_off.gif" loading="lazy"
                            width="30%"></a>
                    <p style="text-align:center"><span style="color:#000000"><span style="font-size:16px"><strong>منتجات
                                    بخصم يصل الى 50%</strong></span><br>
                            <span style="font-size:14px">خصم بكمية محدودة</span></span></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>