<form [formGroup]="loginform" (ngSubmit)="loginUser()">
    <p-card header="LogIn" [style]="{width:'360px'}">
        <div class="field">
            <label for="Email">Email</label>
            <input type="email" pInputText formControlName="Email" class="w-full" name="Email"
                placeholder="Enter your Email" />
        </div>
        @if (email.invalid && (email.dirty || email.touched)) {
        <small class="block p-error">
            @if(email.errors?.['required']){
            <div>Email is Required</div>
            }
            @else if(email.errors?.['email']){
                <div>Email Shouid be Valid</div>
            }
            <!-- Your content here -->
        </small>
        }
        <div class="field">
            <label for="Password">Password</label>
            <input type="password" pInputText formControlName="Password" class="w-full" name="Password"
                placeholder="Enter your Password" />
        </div>
        @if (password.invalid && (password.dirty || password.touched)) {
            <small class="block p-error">
                @if(password.errors?.['required']){
                <div>password is Required</div>
                }
              <!-- Your content here -->
            </small>
            }
         
        <p-button label="Sign In" styleClass="w-full" [disabled]="loginform.invalid"></p-button>
        <div class="mt-2">Not a member? <a routerLink="/register">Register</a></div>
    </p-card>
</form>
<p-button label="Sign Out" (onclick)="LogOut()"></p-button>