<div class="sidebar sidebar-main mobile-sidebar">
    <div class="pin-wrapper" style="height: 827px;">
        <div class="sidebar-content sticky-active sticky-absolute"
            style="border-bottom: 0px none rgb(119, 119, 119); width: 239px;">
            <div id="layered-filter-block-container" class="layered-filter-block-container">

                <div class="block filter" id="layered-filter-block" data-collapsible="true">
                    <div class="block-title filter-title" data-count="0" role="tablist">
                      
                    </div>
                    <div class="block-content filter-content">

                        <strong role="heading" aria-level="2" class="block-subtitle filter-subtitle">Shopping
                            Options</strong>
                        <div class="filter-options" id="narrow-by-list" data-role="content" role="tablist">
                            <div data-role="collapsible" class="filter-options-item allow active" role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="false" tabindex="0">Graphics Card<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="true" style="display: none;">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">Internal Intel card</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">NVIDIA® GeForce RTX</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">NVIDIA® GeForce MX</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">AMD Radeon™</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item  active" role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="true" tabindex="0">Hard Disk Capacity<span class="toggle"></span>
                                </div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="false">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">256GB</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">512GB</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item  active" role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="true" tabindex="0">Laptop Category<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="false">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">Gaming</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">Business</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">Low End</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item  active" role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="true" tabindex="0">RAM<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="false">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">4GB</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">8GB</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">16GB</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item " role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="false" tabindex="0">Display Size<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="true" style="display: none;">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">15.6 inches</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item " role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="false" tabindex="0">Operating System<span class="toggle"></span>
                                </div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="true" style="display: none;">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">Windows </a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item " role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="false" tabindex="0">Price<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="true" style="display: none;">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow"><span class="price">10000.00 &nbsp;EGP</span> - <span
                                                    class="price">19999.99 &nbsp;EGP</span></a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow"><span class="price">20000.00 &nbsp;EGP</span> - <span
                                                    class="price">29999.99 &nbsp;EGP</span></a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow"><span class="price">30000.00 &nbsp;EGP</span> - <span
                                                    class="price">39999.99 &nbsp;EGP</span></a>
                                        </li>
                                        <li class="item">
                                            <a href="">
                                                   <span> class="price">49999.99 &nbsp;EGP</span></a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow"><span class="price">60000.00 &nbsp;EGP</span> and
                                                above</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div data-role="collapsible" class="filter-options-item " role="presentation"
                                data-collapsible="true">
                                <div data-role="title" class="filter-options-title" role="tab" aria-selected="false"
                                    aria-expanded="false" tabindex="0">Processor<span class="toggle"></span></div>
                                <div data-role="content" class="filter-options-content" role="tabpanel"
                                    aria-hidden="true" style="display: none;">
                                    <ol class="items">
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">intel Core i5</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">intel Core i7</a>
                                        </li>
                                        <li class="item">
                                            <a href=""
                                                rel="nofollow">AMD</a>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>