<!-- <app-nav-bar></app-nav-bar>
<app-header></app-header>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js" integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="container my-5" [ngClass]="{
    'arabic-font': lang === 'ar'}">
    <div class="row">
        <div class="col-md-5">
            <div class="main-img">
                <img class="img-fluid" src="https://images.immediate.co.uk/production/volatile/sites/3/2022/09/Untitled-design-46-2c9e8e7.png?quality=90&webp=true&resize=940,627" alt="ProductS">
               
            </div>
        </div>
        <div class="col-md-7">
            <div class="main-description px-2">
               
                <div class="product-title text-bold my-3">
                    Samsung S23 FE 8GB Ram, 256GB - Purple
                </div>


                <div class="price-area my-4">
                    <p class="old-price mb-1"><del>40000.900 {{'productDetails.egp'| translate}}</del> </p>
                    <p class="new-price text-bold mb-1">35555.00  {{'productDetails.egp'| translate}}</p>
                    

                </div>


                <div class="rating">
                    <div class="starrating risingstar d-flex custom-justify-content-left flex-row-reverse">
                       <span> | <a href=""> Be the first to review this product </a></span>
                       <input type="radio" id="star5" name="rating" value="5" [(ngModel)]="selectedRating" (click)="onRatingChanged(5)" /><label for="star5" title="5 star"></label>
                       <input type="radio" id="star4" name="rating" value="4" [(ngModel)]="selectedRating" (click)="onRatingChanged(4)" /><label for="star4" title="4 star"></label>
                       <input type="radio" id="star3" name="rating" value="3" [(ngModel)]="selectedRating" (click)="onRatingChanged(3)" /><label for="star3" title="3 star"></label>
                       <input type="radio" id="star2" name="rating" value="2" [(ngModel)]="selectedRating" (click)="onRatingChanged(2)" /><label for="star2" title="2 star"></label>
                       <input type="radio" id="star1" name="rating" value="1" [(ngModel)]="selectedRating" (click)="onRatingChanged(1)" /><label for="star1" title="1 star"></label>
                     </div>
                    
              </div>	
            


                <div class="buttons d-flex my-5">
                   
                    <div class="block">
                        <button class="shadow btn custom-btn">{{'productDetails.addCart'| translate}}</button>
                    </div>

                    <div class="block quantity">
                        <input type="number" class="form-control" id="cart_quantity" value="1" min="0" max="5" placeholder="Enter email" name="cart_quantity">
                    </div>
                </div>




            </div>

            <div class="product-details my-4">
                <p class="details-title text-color mb-1">{{'productDetails.productDetail'| translate}}</p>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat excepturi odio recusandae aliquid ad impedit autem commodi earum voluptatem laboriosam? </p>
            </div>
          
                     
         
        </div>
    </div>
</div>



<div class="comment-section">
    <h2 class="section-title">Product Reviews</h2>
    
    < List of existing comments -->
    <!-- <div class="comment-list">
     Sample comment 
      <div class="comment">
        <div class="comment-header">
          <span class="username">Ahmed Ali</span>
          <span class="date">January 1, 2024</span>
        </div>
        <div class="comment-content">
          <div class="rating">⭐⭐⭐⭐</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod...</p>
        </div>
      </div>
       More comments can go here -->
    <!-- </div> -->
    <!-- Add comment form -->
    <!-- <div class="add-comment">
        <h3>Add Your Comment</h3>
        <form (ngSubmit)="submitComment()">
          <input type="text" placeholder="Your Username" required [(ngModel)]="userName">
          <textarea placeholder="Your Comment" required [(ngModel)]="commentStatement"></textarea>
          <button type="submit">Submit</button>
        </form>
      </div>
  </div>  -->