<div class="container">
    <div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5"
        data-background-images="{}" data-background-type="image" data-video-loop="true"
        data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main"
        data-pb-style="O49D66J">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group"
            data-grid-size="12" data-element="main">
            <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
                data-background-images="{}" data-element="main" data-pb-style="N5E1X4U">
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                        href="https://dream2000.com/gaming/games-cd.html"><img
                            src="https://r2media.horizondm.com/Backend-developer/680x500-cd-gaming.jpg" loading="lazy"
                            alt="" style="
        padding-left: 5px;
    margin-bottom: 5px;
"></a>
                </div>
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                        href="https://dream2000.com/corporate/scooter.html"><img
                            src="https://r2media.horizondm.com/Backend-developer/680x500-scooter-arabic.jpg"
                            loading="lazy" alt="" style="
        padding-left: 5px;
"></a>
                </div>
            </div>
            <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
                data-background-images="{}" data-element="main" data-pb-style="GHQGPEW">
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                        href="https://dream2000.com/gaming/playstation.html"><img style="margin-left: 4px;
                    margin-right: 7px;
                    width: 97%;
                    height: 621px;"
                            src="https://r2media.horizondm.com/Backend-developer/680x1000-playstation-arabic.jpg"
                            loading="lazy" alt=""></a>

                </div>
            </div>
            <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height"
                data-background-images="{}" data-element="main" data-pb-style="KBQ5M70">
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                        href="https://dream2000.com/gaming/gamepad.html"><img
                            src="https://r2media.horizondm.com/Backend-developer/680x500-gamepad-arabic.jpg"
                            loading="lazy" alt="" style="
        padding-right: 5px;
    margin-bottom: 5px;
"></a>
                </div>
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><a
                        href="https://dream2000.com/gaming/gaming-accessories.html"><img
                            src="https://r2media.horizondm.com/Backend-developer/680x500-gaming-acc-arabic.jpg"
                            loading="lazy" alt="" style="
    padding-right: 5px;
"></a>
                </div>
            </div>
        </div>
    </div>
</div>