<div style="width: 100%;">
<div class="container">

    <div data-content-type="row" data-appearance="full-bleed" data-enable-parallax="0" data-parallax-speed="0.5" data-background-images="{}" data-background-type="image" data-video-loop="true" data-video-play-only-visible="true" data-video-lazy-load="true" data-video-fallback-src="" data-element="main" data-pb-style="XRUOMXC">
        <div class="pagebuilder-column-group" style="display: flex;" data-content-type="column-group" data-grid-size="12" data-element="main">
            <div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="QAYIDDH">
                <div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 text-center" style="padding-bottom:1px;">
         <a href="https://dream2000.com/en/mobiles.html">
            <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/1149x680_mobile.jpg" alt="" >
         </a>
        </div>
    </div>
</div></div></div><div class="pagebuilder-column" data-content-type="column" data-appearance="full-height" data-background-images="{}" data-element="main" data-pb-style="RUQYB1K"><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="banner-home">
<div class="row">
<div class="col-sm-6 col-xs-12" style="padding-bottom:0px;"><a href="https://dream2000.com/en/accessories/wearables.html"> <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-smart-watch.jpg" alt="" style="
    margin-left: 4px;padding-left: 1px;"> </a></div>
<div class="col-sm-6 col-xs-12" style="padding-bottom:0px;"><a href="https://dream2000.com/en/accessories/audio/airpods.html"><img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-airpods.jpg" alt="" style="
    margin-left: -8px;padding-right: 3px;"></a></div>
</div>
</div>
</div><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 text-center" style="padding-left: 15px;">
         <a href="https://dream2000.com/en/accessories/mobile-accessories.html">
            <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/1243x235-english.jpg" alt="" style="
    padding-right: 12px; width: 1390px;"></a>
        </div>
    </div>
</div></div><div data-content-type="html" data-appearance="default" data-element="main" data-decoded="true"><div class="banner-home">
<div class="row">
<div class="col-sm-6 col-xs-12" style="padding-bottom:0px;"><a href="https://dream2000.com/en/accessories/audio/speakers.html"> <img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256-speaker-en.jpg" alt="" style="
    margin-left: 4px;padding-left: 1px;"> </a></div>
<div class="col-sm-6 col-xs-12" style="padding-bottom:0px;"><a href="https://dream2000.com/en/accessories/mobile-accessories/power-bank.html"><img src="https://r2media.horizondm.com/wysiwyg/Themes/Theme-2-2024/680x256_powerbank.jpg" alt="" style="
    margin-left: -8px;padding-right: 2px;"></a></div>
</div>
</div>
</div></div></div></div>
</div>

</div>
