<p>product-list works!</p>

        
        <div class="row container " style="text-align: center; padding-left: 20px ;" >
          @if(Products.length > 0)
          {
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Avalible</th>
                  <th scope="col">Price</th>
                  <th scope="col">status</th>
                </tr>
              </thead>
              <tbody>
                @for(product of Products; track product.ProductID)
                {
                  <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                    <td><button (click)="addToCart(product)" > Add to Cart</button>  </td>
                </tr>
                }
              </tbody>
            </table>
          }
        </div>
      
  
  