
<app-nav-bar></app-nav-bar>
<app-header></app-header>

<div class="flex justify-content-center align-items-center h-full">
  <router-outlet></router-outlet>
  <p-toast></p-toast>
</div>
<div class="container">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Doloribus, maxime quaerat. Corporis accusamus culpa quo,
    ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
    Asperiores quisquam mollitia animi dolores alias!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Doloribus, maxime quaerat. Corporis accusamus culpa quo,
      ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
      Asperiores quisquam mollitia animi dolores alias!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Doloribus, maxime quaerat. Corporis accusamus culpa quo,
        ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
        Asperiores quisquam mollitia animi dolores alias!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus, maxime quaerat. Corporis accusamus culpa quo,
          ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
          Asperiores quisquam mollitia animi dolores alias!</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Doloribus, maxime quaerat. Corporis accusamus culpa quo,
            ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
            Asperiores quisquam mollitia animi dolores alias!</p>
                        
</div>
<!-- <app-footer></app-footer> -->
<app-payment-ways></app-payment-ways>
<app-footer></app-footer>
