<app-header></app-header>
<div class="container">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Doloribus, maxime quaerat. Corporis accusamus culpa quo,
    ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
    Asperiores quisquam mollitia animi dolores alias!</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      Doloribus, maxime quaerat. Corporis accusamus culpa quo,
      ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
      Asperiores quisquam mollitia animi dolores alias!</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        Doloribus, maxime quaerat. Corporis accusamus culpa quo,
        ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
        Asperiores quisquam mollitia animi dolores alias!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          Doloribus, maxime quaerat. Corporis accusamus culpa quo,
          ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
          Asperiores quisquam mollitia animi dolores alias!</p>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Doloribus, maxime quaerat. Corporis accusamus culpa quo,
            ipsam in sapiente nostrum unde tenetur ullam, laboriosam dolorum?
            Asperiores quisquam mollitia animi dolores alias!</p>
                        
</div>
<app-payment-ways></app-payment-ways>
<app-footer></app-footer>
