<div id="navbarHeader" class="main-container" [ngClass]="{
  'arabic-font': lang === 'ar'
}">
  <div>
    <div class="language-icon">
      <a (click)="onChange()">
        <img src="../../../assets/download.png" alt="language">
        <span>{{ lang === 'en' ? 'العربية' : 'English' }}</span>
      </a>
    </div>
    <div class="navbar">
      <a routerLink="/home" class="navbar-logo">
        <img src="../../../assets/Logo-White.png" alt="logo">
      </a>
      <div class="navbar-center">
        <input type="text" placeholder="{{ 'nav.search' | translate }}...">
      </div>
      <div [ngClass]="{
        'navbar-icons-arabic': lang === 'ar',
        'navbar-icons': lang === 'en',
      }">
        <a href="" style="margin-right: -43px;"><i class="mdi mdi-map-marker-outline"></i><span>{{ 'nav.storelocation' |
            translate }}</span></a>
        <a *ngIf="!isSubmitted; else loggedOut" routerLink="/login" style="margin-right: 6px">
          <i class="mdi mdi-account-outline"></i>
          <span>{{ 'nav.signin' | translate }}</span>
        </a>
        <ng-template #loggedOut>
          <a (click)="logout()" style="margin-right: 6px">
            <i class="mdi mdi-account-outline"></i>
            <span>{{ 'nav.logout' | translate }}</span>
          </a>
        </ng-template>
        <a routerLink="/cart">
          <i class="mdi mdi-cart-outline" [ngClass]="{
            'icos-arabic': lang === 'ar',
            'icos': lang === 'en'
          }"></i>
          <span [ngClass]="{
            'count-arabic': lang === 'ar',
            'count': lang === 'en'
          }">1</span>
        </a>
      </div>
    </div>
    <div class="navbar-bottom">
      @for(c of CategoryList; track $index ){


      <div class="subnav">
        <button class="subnavbtn" [routerLink]="['/Product']" (click)="onCategoryClick(c.id)" routerLinkActive="router-link-active">
          {{ lang === 'en' ? c.enName : c.arName }}
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="subnav-content shadow" style="margin-left: 100px;">
          <div>

            <img [src]="'../../../assets/CategoryAndProductImg/' + (lang === 'en' ? c.imgURL : c.imgURLAr)" width="100%"
              alt="">
            <img src="https://r2media.horizondm.com/Backend-developer/Ramadan-Ong.png"
              style="width: 100%; margin-top: 5px;" alt="">
          </div>
          <ng-container class="w-25 ">
            @for(s of c.subCategories; track $index){
            <div class="column w-25 h-25">
              <div class="row">
               <a (click)="onSubCategoryClick(s.id)"  routerLinkActive="router-link-active">  <!-- [routerLink]="['/category/productbycategory',c.id]" -->
                  <span>{{ lang === 'en' ? s.enName : s.arName }}</span>
                </a>
              </div>
            </div>
            }

          </ng-container>
        </div>
      </div>
      }
      <div class="subnav">
        <button class="subnavbtn">{{ 'nav.hotdeals' | translate }}</button>
      </div>
      <div class="contacts">
        <a href=""><i style="color: aliceblue;" class="mdi mdi-phone-outline"></i> <span> 16942</span></a>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>