
    <div class="main-container">
        <div class="navbar">
            
            <div class="navbar-logo">

                 <!-- Icon for language changing -->
             <div class="language-icon">
                <a href=""><img src="../../../assets/download.png" alt="language"><span>العربية</span></a>
            </div>

                <img src="../../../assets/Logo-White.png" alt="logo">
            </div>
            <div class="navbar-center">
              <input type="text" placeholder="Enter Keyword Or Item...">
             
            </div>
            <div class="navbar-icons">
              <a href=""><i class="fas fa-map-marker-alt"></i><span>store location</span></a> <!-- Store location icon -->
             <a href=""> <i class="fas fa-user"></i> <span>sign-in</span></a> <!-- Sign in icon -->
             <a href=""> <i class="fas fa-shopping-cart"></i></a> <!-- Cart icon -->
            </div>
          </div>
          <div class="navbar-bottom">
            <div class="categories">
              <a href="#" >MOBILES</a>
              <a href="#" >TABLETS</a>

              <a href="#">LAPTOP&COMPUTER</a>
              <a href="#">ACCESSORIES</a>
              <a href="#">ELECTRONICS</a>
              <a href="#">APPLIANCES</a>
              <a href="#">TVS</a>
              <a href="#">GAMING</a>
              <a href="#">HOTDEALS</a>
              
            </div>

         
            <div class="contacts">
              <a href=""><i style="color: aliceblue;" class="fas fa-phone"></i> <span> 16942</span></a> <!-- Phone icon -->
            
            </div>
        
          </div>
       
    </div>
 
   

