<Div class="NavLogin"><H1>CUSTOMER LOGIN</H1></Div>
<div class="d-flex justify-content-center mb-2">

<form [formGroup]="loginform" (ngSubmit)="onSubmit()"> 

 <!-- -->
  <p-card header="Registered Customers" class="d-flex justify-content-center"  [style]="{width:'1000px'}">
   <p>If you have an account, sign in with your email address.</p> 
      <div class="field">
          <label for="Email">Email</label>
          <input type="email" pInputText formControlName="Email" class="w-100" name="Email"
              placeholder="Enter your Email" />
      </div>
      @if (email.invalid && (email.dirty || email.touched)) {
      <small class="block p-error">
          @if(email.errors?.['required']){
          <div>Email is Required</div>
          }
          @else if(email.errors?.['email']){
          <div>Email Shouid be Valid</div>
          }
          <!-- Your content here -->
      </small>
      }
      <div class="field">
          <label for="Password">Password</label>
          <input type="password" pInputText formControlName="Password" class="w-100" name="Password"
              placeholder="Enter your Password" />
      </div>
      @if (password.invalid && (password.dirty || password.touched)) {
      <small class="block p-error">
          @if(password.errors?.['required']){
          <div>password is Required</div>
          }
          <!-- Your content here -->
      </small>
      }
      <div class="form-group d-flex justify-content-center">
        <button class="btn btn-primary btn-block w-100 mt-2" [disabled]="loginform.invalid">Login</button>
      </div>
      <div class="form-group">
        @if (isLoginFailed) {
        <div class="alert alert-danger" role="alert">
          Login failed: {{ errorMessage }}
        </div>
        }
      </div>

      <!-- <p-button label="Sign In" styleClass="w-full" [disabled]="loginform.invalid"></p-button> -->

      <div class="mt-2">Not a member? <a href="/register" routerLink="register">Register</a></div>
  </p-card>

</form>
</div>

<!-- <p-button label="Sign Out" (onclick)="LogOut()"></p-button> -->