<app-nav-bar (categoryClicked)="GetIdOFCategory($event)"  (SubcategoryClicked)="GetIdOFSubCategory($event)"></app-nav-bar>
<!-- <app-product-by-category [SubcategoryId]="selectedSubCategoryId"></app-product-by-category> -->
<!-- <app-filtration [categoryId]="selectedCategoryId"></app-filtration> -->
<!-- <app-products [categoryId]="selectedCategoryId"></app-products> -->
<app-header></app-header>

<!-- <app-products></app-products> -->
<mainslider></mainslider>
<item1></item1>
<item2></item2>
<item3></item3>
<item4></item4>
<thirdthing></thirdthing>
<item5></item5>
<appliances></appliances>
<item6></item6>
<market></market>
<app-payment-ways></app-payment-ways> 


