<app-nav-bar (categoryClicked)="GetIdOFCategory($event)" (SubcategoryClicked)="GetIdOFSubCategory($event)"></app-nav-bar>
<app-product-by-category [SubcategoryId]="selectedSubCategoryId"></app-product-by-category>
<app-products [categoryId]="selectedCategoryId"></app-products>

<app-header></app-header>
<!-- <mainslider></mainslider>
<item1></item1>
<item2></item2>
<item3></item3>
<item4></item4>
<item5></item5>
<item6></item6>
<market></market> -->
<app-product-list></app-product-list>
<app-payment-ways></app-payment-ways> 
<app-footer></app-footer>
<app-product-details></app-product-details>